/* ===================== component =========== */
img {
    max-width: 100%;
    display: block;
}


.heading {
  color: black;
  margin: 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2em;
}


.primary-btn {
  border: 1px solid #2d5f2f;
  background-color: #2d5f2f;
  color: white;
  text-align: center;
  letter-spacing: .8px;
  text-transform: uppercase;
  border-radius: 66px;
  padding: 14px 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3em;
  transition: all .3s;
  display: inline-block;
}

.primary-btn:hover {
  background-color: transparent;
  color: #2d5f2f;
  border-color: #2d5f2f;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #2d5f2f;
  border-radius: 10px;
}

html::-webkit-scrollbar{
  width: 10px;
}

.images{
  overflow: hidden;
}

.images img{
  transition: all 0.6s;
}

.images img:hover{
  transform: scale(1.1);
}

/* ================= navbar ================ */

nav {
  background-color: #e6f1de;
  padding: 20px !important;
}

nav .navbar-brand {
  font-weight: bold;
  font-style: italic;
}

nav .nav-link {
  font-weight: bold;
}

a.nav-link {
  transition: all 0.4s;
  border: 1px solid transparent;
  margin: 0 10px;
}

a.nav-link:hover {
  border-radius: 5px;
  border: 1px solid #2d5f2f;
}

/* ===================== banner ================ */

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url("https://assets-global.website-files.com/657ade197d97985d518e675c/658760bd76a064d50230a33a_banner%201%20(1).jpg");
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  justify-content: center;
  align-items: center;
  min-height: 94vh;
  display: flex;
}

h1 {
  color: white;
  font-size: 72px;
}

/* ==================== services ===================== */

.services {
  padding: 120px 0;
  background-color: #e6f1de;
}

/* ================== Organic ==================== */

.organic {
  padding: 120px 0;
}

.organic .organic-line {
  border: 3px solid #729c4d;
}

/* ==================== product ==================== */

.product .product-head {
  color: #11181c;
  margin: 10px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2em;
  transition: all 0.3s;
}

.product .product-head:hover{
  color: #729c4d;
}

.product .product-price {
  color: #729c4d;
  letter-spacing: -.5px;
  font-size: 20px;
  font-weight: 600;
}

/* ================ blog ================== */

.blog{
  padding: 120px 0 50px;

}

/* ================= about ================== */

.organic h3{
 
    color: #729c4d;
    font-size: 48px;
    font-weight: 700;
    line-height: 1em;

}

.quality{
  background-color: #2d5f2f;
  padding: 50px 0;
}

.about .about-layers img{
  color: white;
}
/* ================ footer ================== */

footer{
  background-color: #e6f1de;
}